{% extends 'base_layout.html' %}
{% block content %}

<style>
    .profile-pic {
        width:100px;
        height:100px;

    }
    /* .card {
     /* Light gray */
    
        /* } */
    */
</style>
       
        
            {% for article in articles%}
            <div class="container">
                <div class="row justify-content-center">
       
                
                        <div class="col-md-4 col-md-6 bg-white  border border-2 mb-4 ">
                            
                                <img src=" {{article.person.profile_pic.url}} " alt="img not found" class="profile-pic rounded-circle" style="display: inline;" >
                                <div class="" style="display: inline;">
                        
                                        <p  class="h4" style="display: inline;">{{article.person}}</p> <br>
                                        
                                    
                                    
                                    <h2 class="" style="display: inline;" ><a href="{% url 'detail' slug=article.slug %}">{{article.title}}</a></h2>
                                    <p>{{article.snippet}}</p>
                                    <p>{{article.date}}</p>
                                </div>

                        </div>
                 
                
                
                
               
            
            {% endfor %}
        </div>
{% endblock %}
  