{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
  
 
</head>
<body style="background: #221133;" class="text-white">
<nav class="navbar navbar-expand-md navbar-light mb-2">
    <div class="container-lg">
        <!-- navbar brand / title -->
        <a class="nav-first-link" href="{% url 'home' %}">
            <span class="fw-bold">
                Developed By AbelMalu
            </span>
        </a>
        <!-- toggle button for mobile nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-light"></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse justify-content-center " id="main-nav">
            <ul class="navbar-nav">

            


                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'create' %}">New Article</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'profile' %}">Profile</a>
                </li>
                <li><span class="text-light nav-link">{{request.user}}</span></li>
                
                <li class="nav-item">
                    
                    <a class="nav-link text-light" href="{% url 'logout' %}">Logout</a>
                </li>
               
                
                {% endif %}

                {% if not user.is_authenticated %}
                    <li class="nav-item ">
                        <a class="nav-link text-light" href="{% url 'signup' %}">SingUp</a>
                    </li>
                    
                    <li class="nav-item ">
                        <a class="nav-link text-light" href="{% url 'login' %}">Login</a>
                    </li>

                    
                
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
  
 
 







        {% block content %}
       
            
        {% endblock %}

    </div>
</body>
</html>