{% extends 'base_layout.html' %}



{%  block content %}

<style>
    .profile-pic {
        width: 60px;
        height: 60px;

    }

    /* .card {
     /* Light gray */

    /* } */
    */
</style>

<div class="row justify-content-center pt-5 g-4">
   

        <h1>{{category}} Articles</h1>


    {% for article in articles%}
  







    <div class=" col-lg-5 m-2 rounded text-light mb-4 " style="background: #0e011b;">

        <img src=" {{article.person.profile_pic.url}} " alt="img not found" class="profile-pic rounded-circle mt-3"
            style="display: inline;">
        <div class="" style="display: inline;">

            <p class="h4" style="display: inline;">{{article.person}}</p> <br>



            <h2 class="" style="display: inline;"><a href="{% url 'detail' slug=article.slug %}">{{article.title}}</a>
            </h2>
            <p>{{article.snippet}}</p>
            <p>{{article.date}}</p>
        </div>

    </div>






    {% endfor %}


{% endblock %}