{% extends 'base_layout.html' %}


{% block content %}
<h1>welcome to your profile page</h1>


<style>
    .profile-pic {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>

<br>
<div class="row">
    <div class="col-md-3  ">
        <div class="card card-body  " style="background: #0e011b;">
            <a class="btn btn-warning " href="{% url 'home' %}"> &#8592; Back to Home</a>
            <hr>
            <p>Current Profile picture</p>
           
            <hr>
            <img class="profile-pic bg-dark" src="{{request.user.profile.profile_pic.url}}" alt="no profile picture choosen">

        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-body" style="background: #0e011b;">
            <div class="card-title">Edit profile</div>

            <form method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
                {% csrf_token %}

                
                {{form.first_name}}<br>
                <br>
                {{form.last_name}}<br>
                <br>
                {{form.profile_pic}}<br>
                <br>

                <input class="btn btn-primary" type="submit" name="Update Information">
            </form>
        </div>
    </div>
</div>




{% endblock %}





